<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>multiDetailSplitView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70E7AD181BE29A6F00821599</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70E7AD2F1BE29A6F00821599</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70E7AD3A1BE29A7000821599</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
